Crypto
certifi==2022.12.7
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
DBUtils==1.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-HTTPAuth==3.3.0
Flask-SQLAlchemy==2.4.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Naked==0.1.31
pyasn1==0.4.8
pycparser==2.19
pycrypto==2.6.1
PyJWT==1.7.1
PyMySQL==0.9.3
PyYAML==5.3
requests==2.22.0
rsa==4.0
shellescape==3.4.1
six==1.13.0
SQLAlchemy==1.3.12
urllib3==1.25.7
Werkzeug==0.16.0
